.bookings_list {
    position: relative;
    padding: 1rem;
    width: 30rem;
    max-width: 80%;
    margin-top: 8%;
    font-weight: bold;
    font-size: 30px;
    
}

.bookings_item {
    margin: 0;
    font-size: 1.5rem;
    color: black;
}

.btnBookings {
    background: rgb(231, 171, 6);
    color: white;
    font-weight: bold;
}
