.main-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background: rgb(41, 40, 40);
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .main-navigation__logo h1 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
  }
  
  .main-navigation__items {
    margin-left: 1.5rem;
  }
  
  .main-navigation__items ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  
  .main-navigation__items li {
    margin: 0 1rem;
  }
  
  .main-navigation__items a,
  .main-navigation__items button {
    text-decoration: none;
    color: white;
    padding: 0.25rem 0.5rem;
    border: none;
    font: inherit;
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
  }
 
  .main-navigation__items a:hover,
  .main-navigation__items a:active,
  .main-navigation__items a.active,
  .main-navigation__items button:hover,
  .main-navigation__items button:active {
    background: #535252;
    color: white;
    border-radius: 5px;
  }

  .back-ground-photo {

    position: absolute;
    height: 645px;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  .error {
    position: relative;
    color: rgb(182, 41, 41);
    background-color: aliceblue;
    width: 100%;
    margin-top: 3px;
    align-items: center;
  }

  @media screen and (max-width: 1124px) {
    .back-ground-photo {
      width: 100%;
      height: 91%;
      left: 50%;
      top: 54%;

    }
  }

  @media screen and (max-width: 812px) {
    .back-ground-photo {
      height: 94%;
    }
    .main-navigation__items a{
      padding: -0.75rem 0.5rem;
    }
    .main-navigation__items button{
      padding: -0.75rem 0.5rem;
    }
    .buttonSubmit {
      width: 73.3%;
    }
    .buttonLogin{
      width: 76%;
    }
    .imputEmail{
      width: 66%;
    }
    .imputPassword{
      width: 66%;
    }
  }
  
  @media screen and (max-width: 360px) {
    .back-ground-photo {
      width: 91%;
    }
    .imputEmail{
      width: 66%;
    }
    .imputPassword{
      width: 66%;
    }
    .buttonSubmit {
      width: 75.3%;
    }
    .buttonLogin{
      width: 76%;
    }
  }